html {
  height:auto !important;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #fcd6d6 81%, #ff8787 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#fcd6d6 81%,#ff8787 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#fcd6d6 81%,#ff8787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff8787',GradientType=0 ); /* IE6-9 */
}

body {
  background: transparent;
  animation: snow 20s linear infinite;


  /* 백그라운드 이미지 원근감느낌 이미지 */
  background-image:url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'),
  url("https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png"),
  url("https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png");
}


/* container */
header .container {
  padding-top: 30px;
}


/* logo */
header .row > div:nth-child(1) > a {
  background-repeat: no-repeat;
  display: block;
  width: var(--logo-Width);
  height: var(--logo-Height);
  background-image: var(--logo-URL);
}
header .row > div:nth-child(1) > a img {
  display:none;
}


/* DefaultColor */
header #header-bar {
  margin-top: 0.2em;
  margin-bottom: 1em;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
}

header #header-bar>.row {
  animation-name: Gradient;
  animation-duration: 15s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;

  /*
  background: linear-gradient(-45deg,#ffb8b8,#d7abff,#9ea3e3,#93efd9);
  background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  */

  background-position-x: initial;
  background-position-y: initial;
  background-size: 400% 400%;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: 400% 400%;
  background: linear-gradient(-45deg, #FCE5E5, #ff8787, #ffb8b8, #fcd6d6, #ff9898, #febbbb, #fdeeee);
  background-size: 400% 400%;
  border: none;
  border-top: 4px solid
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite; ba(255,255,255,0);
}


/* advertisement tag */
header #header-bar #header-top-notice strong.notice-badge {
  background: transparent;
  padding: 0px 4px;
  font-weight: bold;
}


/* article part */

#article-list>.article-list-row.notice {
  background-color: #fff6f5;
  border-top: 1px solid #ffd5d0;
}

#article-list>.article-list-row>.item {
  display: table-row;
  text-align: center;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
  font-size: 11px;
  line-height: 13px;
  position: relative;
  text-align: center;
  padding: 0px 2px;
  color: #f5cfcf;
  word-break: break-word;
  border-radius: 1px;
  top: 3px;
  float: left;
}

#article-list>.article-list-row>.item>.list-title>small.favo> .fa-heart:before {
  content: "\f004";
  animation: infinite rainbowLink 3s;
}


/* hot post background */
#article-list>.article-list-row.hot {
  background-color: #f3f8ff;
  border-top: 1px solid #8ab7ff;
  border-bottom: 1px solid #8ab7ff;
  -webkit-animation: ColorB 5s infinite;
  -moz-animation: ColorB 5s infinite;
  animation: ColorB 5s infinite;
}

#article-list>.article-list-row>.item>.list-title>.a-badge>.fa-star,
#article-list>.article-list-row.hot>.item>.list-title>.a-badge>.fa-star {
  opacity: .75;
  color: transparent;
  vertical-align: 2px!important;
  width: 18px;
  height: 16px;
  background: url(https://github.com/yeongether/nnabi_css/blob/master/images/star01.gif?raw=true);
  background-repeat: no-repeat;
  background-size: 83%;
  background-position: center 2px;
  -webkit-animation: StarSS 2s infinite;
  -moz-animation: StarSS 2s infinite;
  animation: StarSS 2s infinite;
}

#article-list>.article-list-row>.item>.list-title>.list-writer {
  float: right;
  padding: 0px 11px;
  border-left: none;
  border-right: 1px solid #e2e2e2;
  text-align: right;
  min-height: 16px;
  line-height: 16px;
}

#article-list #article-list-category > a {
  display: inline-block;
  padding: 11px 16px; background: var(--color-5);
  text-decoration: none;
  font-size: 11px;
  font-weight: bold
}

#article-list #article-list-category > a:hover {
  animation: infinite AquaLinkBG 1.5s;
}

/* category background */
#article-list #article-list-category {
  border-top: 3px solid var(--color-4);
  background:  -webkit-linear-gradient(45deg, var(--color-5) 0%, var(--color-5) 80%, var(--color-3) 100%);
}


/* like highlighter */
#article-list > .article-list-row > .item > .list-header > span {
  background-color: var(--color-4);
  color: var(#fff);
  font-weight: bold;
  padding: 1px 5px;
  font-size: 9.5px;
  border-radius: 100px
}


/* toggle button for hiding notice */
#article-list #article-option-area>#article-option-area-toggle-btn {
  position: relative;
  right: 14px;
}


/* tgd menu box */
#main .menu-wrapper > .header {
  background: -webkit-linear-gradient(45deg, var(--color-3) 10%,var(--color-5) 100%);
  color: var(--color-0);
  padding: 0.45em 1.4em 0.45em 1em;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

#main .menu-wrapper > a { padding: 7px 3px; }
#main .menu-wrapper > a > em { color: var(--color-3);}
#main .menu-wrapper > a > i.fa.fa-square { color:var(--color-3); }


/* 스케줄은 개별적용 */
#main .menu-wrapper > .header > a {
  color: var(--color-0);
}


/* remove nav box border */
header #header-bar > .row,
#main #main-content > div.frame {
  border-right: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
}

#main .menu-wrapper {
  border-right: none;
  border-bottom: none;
  border-radius: 10px 10px 0 0;  
}


/* nav box category distribute */
#main .menu-wrapper .spacer {
  background: rgba(95,02,22,0);
  height: 4px;
}


/* main shadow */
header #header-bar > .row {
  box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
  border-radius: 0 0 15px 15px;
}
#main #main-content > div.frame {
  box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
  border-radius: 0 0 15px 15px;
  background: -webkit-linear-gradient(135deg, var(--color-0) 0%,var(--color-0) 99%, var(--color-5) 99%,var(--color-3) 100%);
}


/* notice post mouse hovered */
#article-list > .article-list-row.notice:hover {
  animation: 30s anim_hovered_background;
}

.pagination > li > a:hover {
  animation: infinite AquaLinkBG 1.5s;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover
{
  background-color: var(--color-4);
  border-color: var(--color-4);
}

#article-content-wrapper > .header {
  border-top: 3px solid var(--color-4);
  background: var(--color-5);
}

#article-content-wrapper > .footer {
  border-bottom: 3px solid var(--color-4);
  background: var(--color-5);
}

#article-reply-area #reply-real-area .reply > .reply-header {
  background: var(--color-5);
}

#article-reply-area > .header h5 {
  font-size: 12px;
  color: var(--color-4);
  font-weight: bold;
}

#article-content-wrapper > .header > #article-comment > .fa-commenting:before {
  content: "\f27a";
  color: #ff8787;
}

#article-content-wrapper > .header > #article-votes > .fa-heart:before {
  content: "\f004";
  animation: infinite rainbowLink 3s;
}

#article-content-wrapper > .header > #article-views > .fa-eye:before {
  content: "\f06e";
  color: #ff5c5c;
}


/* article part */
#article-info .article-profile-img {
  position: absolute;
  top: 1em;
  width: 3em;
  height: auto;
}

#article-info > .h2 {
  font-size: 20px;
  width: 750px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a,
#article-reply-area #reply-real-area .reply > .reply-header span.middot {
  color: #ff5c5c;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer-image {
  width: 2.2em;
  height: 2.2em;
  margin-right: 0.9em;
  float: left;
  margin-left: 0.5em;
}


/* viewer board info */

#board-info, div.frame { 
  background:#FFF
}

#board-info { 
  display: flex;
  height: 50px;
  padding: 1em; 
  border-radius: 10px;
  align-items: center; 
  justify-content: center
}

#board-info #board-info-bottom {
  flex: auto;
  text-align: right
}

#board-info #board-info-bottom a {
 border: 0;
 color: #d7abff
}

#board-info h1 {
  border-bottom: 0;
}

#board-info #board-info-profile-img {
  width: 75px;
  height: 75px;
  position: absolute;
  top: -15px;
  left: 5px;
  border: 3px solid #ff8787;
  border-radius: 50%
}

#board-info #board-info-bottom,
#board-info h1 {
  margin-left: 60px;
  padding: 0
}

.badge {
  margin: 2px;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #febbbb;
  border-radius: 10px;
}

#board-info h1 > a {
  text-decoration: none;
  color: #ff8787;
}

#board-info #viewers-area #viewers:before {
  content: var(--pre-comment);
  cursor: text;
}

#board-info #viewers-area #viewers:after {
  content: var(--sub-comment);
  cursor : text;
}

/* badge at viewer box */
#board-info #viewers-area .fa-user:before {
  color: rgba(95,02,22,0);
  content: var(--icon-URL); }

/* ButtonAnim */
.btn-primary {
  background: var(--color-4);
  border-color: var(--color-1);
}

.btn-primary:hover {
  animation: infinite rainbowLinkBG 3s;
}


/* recommend button */
.btn-outline-success {
  color: #fe9090;
  background-image: none;
  background-color: transparent;
}

.vote-btn[data-type="up"] {
  border: none;
  font-size: 0;
}

.vote-btn[data-type="up"]:hover {
  background: none !important;
}

.vote-btn[data-type="up"]::before {
  display: inline-block;
  line-height: 0.89;
  background: white;
  border: solid #fe9090 1px;
  float: left;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  font-size: 17pt;
  content: "\f164";
  padding-top: 10px;
  padding-left: 2px;
  font: normal 22px/1 FontAwesome;
  -moz-transition:color .2s ease;
  -o-transition:color .2s ease;
  -ms-transition:color .2s ease;
  -webkit-transition:color .2s ease;
  transition:color .2s ease;
}

.vote-btn[data-type="up"]:hover::before {
  background: #fe9090;
  color: white
}

.vote-btn[data-type="up"] span {
  float: left;
  padding-top: 10px;
  padding-left: 15px;
  font-size: 20px;
  color: #fe9090;
}

/* delete focusing effect (blue outline box) */
*:focus { outline: none !important; }

/* movetotop object */
#movetotop img {
  display:none;
}

#movetotop {
  display: inline-block: inline-block;
  opacity: 0.8;
  background: url("https://github.com/yeongether/nnabi_css/blob/master/images/niniz2.gif?raw=true");
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-size: contain;
}

/* keyframe animations */
@keyframes rainbowLink {
  000% { color: var(--color-0); }
  010% { color: var(--color-1); }
  020% { color: var(--color-2); }
  030% { color: var(--color-3); }
  040% { color: var(--color-4); }
  050% { color: var(--color-5); }
  060% { color: var(--color-4); }
  070% { color: var(--color-3); }
  080% { color: var(--color-2); }
  090% { color: var(--color-1); }
  100% { color: var(--color-0); }
}
@keyframes rainbowLinkBG {
  000% { background-color: var(--color-0); }
  010% { background-color: var(--color-1); }
  020% { background-color: var(--color-2); }
  030% { background-color: var(--color-3); }
  040% { background-color: var(--color-4); }
  050% { background-color: var(--color-5); }
  060% { background-color: var(--color-4); }
  070% { background-color: var(--color-3); }
  080% { background-color: var(--color-2); }
  090% { background-color: var(--color-1); }
  100% { background-color: var(--color-0); }
}
@keyframes AquaLinkBG {
  0% { background-color: var(--color-5); }
  40% { background-color: var(--color-4); }
  100% { background-color: var(--color-5); }
}
@keyframes anim_hovered_background {
  0% { background-color: var(#fe9090); }
  1% { background-color: var(--color-5); }
}

@-webkit-keyframes StarSS {
  0% { transform:scale(.75) }
  20% { transform:scale(1) } 
  40% { transform:scale(.75) } 
  60% { transform:scale(1) } 
  80% { transform:scale(.75) } 
  100% { transform:scale(.75) }
}

@-moz-keyframes StarSS {
  0% { transform:scale(.75) } 
  20% { transform:scale(1) } 
  40% { transform:scale(.75) } 
  60% { transform:scale(1) }
  80% { transform:scale(.75) } 
  100% { transform:scale(.75) }
}

@keyframes StarSS {
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;

  0% { transform:scale(.75) }
  20% { transform:scale(1) }
  40% { transform:scale(.75) }
  60% { transform:scale(1) }
  80% { transform:scale(.75) }
  100% { transform:scale(.75) }
}

@-webkit-keyframes ColorA {
  0% { color:#67a6ff }
  20% { color:#ef6ee5 }
  40% { color:#ff897a }
  60% { color:#97c566 }
  100% { color:#67a6ff }
}

@-moz-keyframes ColorA {
  0% { color:#67a6ff }
  20% { color:#ef6ee5 }
  40% { color:#ff897a }
  60% { color:#97c566 }
  100% { color:#67a6ff }
}

@keyframes ColorA {
  0% { color:#67a6ff }
  20% { color:#ef6ee5 }
  40% { color:#ff897a }
  60% { color:#97c566 }
  100% { color:#67a6ff }
}

@-webkit-keyframes ColorB {
  0% { border-color: #67a6ff; background-color: #e4efff }
  20% { border-color: #ef6ee5; background-color: #ffecfe }
  40% { border-color: #ff897a; background-color: #ffefed }
  60% { border-color: #97c566; background-color: #f1ffe2 }
  100% { border-color: #67a6ff; background-color:#e7f1ff }
}

@-moz-keyframes ColorB { 
  0% { border-color: #67a6ff; background-color: #e4efff }
  20% { border-color: #ef6ee5; background-color: #ffecfe }
  40% { border-color: #ff897a; background-color: #ffefed }
  60% { border-color: #97c566; background-color: #f1ffe2 }
  100% { border-color: #67a6ff; background-color: #e7f1ff }
}

@keyframes ColorB {
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;

  0% { border-color: #67a6ff; background-color: #e4efff }
  20% { border-color: #ef6ee5; background-color: #ffecfe }
  40% { border-color: #ff897a; background-color: #ffefed }
  60% { border-color: #97c566; background-color: #f1ffe2 }
  100% { border-color: #67a6ff; background-color: #e7f1ff }
}

@-webkit-keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@-moz-keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes Gradient {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

@keyframes bingle {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
}
